{% extends '/base.html' %}

{% block content %}
<h1 class="mb-3">
  <a href="{{url_for('furniture.redirect_back')}}">← Назад</a>
</h1>

<div class="col">
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col d-flex d-lg-block">
      <img class="w-100" src="../../static/images/{{ furniture.file_name }}" alt="товар">
    </div>
    <div class="col p-4 d-flex flex-column position-static">
      <h3 class="mb-0">{{ furniture.name }}</h3>
      <p class="p-1 card-text mb-auto">Описание: {{ furniture.description }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <p style="font-size: 2em">
        {{furniture.price}} руб
        </p>
        <a class="p-1" href="{{ url_for('furniture.buy', furniture_id=furniture.id) }}">
          <button type="button" class="btn btn-lg btn-outline-primary">Купить</button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}