{% extends 'base.html' %}
{% block content %}
    <div class="p-2 container d-flex align-items-end">
        <div class="px-1 w-100">
            <label for="inputName">Название товара</label>
            <input class="form-control" id="inputName" placeholder="Название товара" required type="text">
        </div>
        <div class="px-1">
            <label for="inputMaxPrice">Макс. цена</label>
            <input class="form-control" id="inputMaxPrice" placeholder="Максимальная цена" required type="text">
        </div>
        <div class="px-1">
            <label for="inputMinPrice">Мин. цена</label>
            <input class="form-control" id="inputMinPrice" placeholder="Минимальная цена" required type="text">
        </div>
        <a class="btn btn-primary" onclick="submitUserForm()">Найти</a>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for fur in furniture %}
            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                        <h4>{{ fur.name }}</h4>
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="text-body-primary">{{ fur.price }} руб</h5>
                            <div class="btn-group">
                                <a class="p-1" href="{{ url_for('furniture.view', furniture_id=fur.id) }}">
                                    <button type="button" class="btn btn-md btn-outline-primary">Подробнее</button>
                                </a>
                                <a class="p-1" href="{{ url_for('furniture.buy', furniture_id=fur.id) }}">
                                    <button type="button" class="btn btn-md btn-outline-primary">Купить</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='submit_search_form.js') }}"></script>
{% endblock %}