{% extends 'base.html' %}

{% block content %}
<form method="post" xmlns="http://www.w3.org/1999/html">
    <h1 class="mb-3">Вход</h1>
    <div class="mb-3">
      <label for="exampleInputEmail1">Логин</label>
      <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1">Пароль</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="" name="password">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" name="remember_me">
        <label class="form-check-label" for="exampleCheck1">Запомнить меня</label>
    </div>
    <div class="mb-3">
        <a href="{{ url_for('auth.register') }}">Нет аккаунта? Зарегистрируйтесь!</a>
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
  </form>

  {% if error %}
  <span>{{ error }}</span>
  {% endif %}
{% endblock %}